table {
    border: black solid 4px;
}

tr:first-child  {
    text-align: center;
    font-weight: bolder;
    padding-left: 20px;
    padding-right: 20px;
}


td {
    border-top: black solid 2px;
    margin: 0;
}

tr:nth-child(even) {
    background-color: skyblue;
}

h1 {
    color: dodgerblue;
}