<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="styles.css">
    <title>Clubs</title>
</head>
<h1>Clubs in our Football League</h1>
<body>
<table>
    <tr>
        <td>Club Name</td>
        <td>Home City</td>
        <td>Foundation Year</td>
        <td>Division</td>
    </tr>
    <tr th:each="c: ${clubs}">
    <td th:text="${c.getClubName()}"/>
    <td th:text="${c.getCity()}"/>
    <td th:text="${c.getFoundationYear()}"/>
    <td th:text="${c.getDivision()}"/>
    </tr>
    <br>
</table>
    <form action="/home">
        <input type="submit" value="Add a new Club / Go to homepage"/>
    </form>
</body>
</html>