<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="styles.css">
    <title>Homepage</title>

</head>
<h1>Welcome to Our Football League</h1>
<body>

<form action="#" th:action="@{/clubs}" th:object="${club}" method="post">
    <p>Club Name: <input type="text" th:field="*{clubName}" /></p>
<!--    <p th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></p>-->
    <p>City: <input type="text" th:field="*{city}" /></p>
<!--    <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>-->
    <p>Club Foundation Year: <input type="text" th:field="*{foundationYear}" /></p>
<!--    <p th:if="${#fields.hasErrors('content')}" th:errors="*{content}"></p>-->
    <p>Division: <input type="text" th:field="*{division}" /></p>


    <p><input type="submit" value="Submit Club" /> <input type="reset" value="Reset" /></p>
</form>

<!--<table>-->
<!--    <th>-->
<!--    <td>Club Name</td>-->
<!--    <td>City</td>-->
<!--    <td>Club Foundation Year</td>-->
<!--    <td>Division</td>-->
<!--    </th>-->
<!--    <tr action="#" th:action="@{/home}" th:object="${club}" method="post">-->

<!--        <td th:text="*{club.clubName}"></td>-->
<!--        <td th:text="*{club.getCity()}"></td>-->
<!--        <td th:text="*{club.getClubFoundationYear()}"></td>-->
<!--        <td th:text="*{club.getDivision()}"></td>-->
<!--    </tr>-->
<!--    -->

<!--</table>-->

</body>
</html>